// global styles and changing bulma variables

// import Google fonts

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Nunito:wght@400;700&display=swap');

$family-sans-serif: "Nunito", sans-serif;

// update Bulma component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// global styles
html, body {
    height: 100%;
}

